{block content}
<h1>{$task->ref('atf_lesson', 'lesson_id')->name}</h1>
<h3>Úloha: {$task->order} ({$task->name})</h3>
<p>Opište tento text:</p>
<div class="task-form">
    <p class="wrong p-0 m-0" n:if="isset($wrong)">{$wrong|noescape}</p>
    {control taskForm}
</div>
<a n:href="Atf:default">Atf</a>
<script>
    autosize($('textarea'));
</script>