.task-form {
  font-size: 16px;
  letter-spacing: 2px !important;

  label {
    font-size: 16px;
    padding-left: 15px;
    letter-spacing: 2px !important;
  }

  input[name="answer"] {
    letter-spacing: 2px !important;
  }

  .wrong {
    padding-left: 15px;
  }
}
