.task-form {
  font-size: 16px;
  letter-spacing: 2px !important;

  label {
    font-size: 16px;
    padding-left: 15px;
    letter-spacing: 2px !important;
  }

  textarea[name="answer"] {
    height: 40px;
    line-height: 40px;
    letter-spacing: 2px !important;
    padding-left: 14px;
    overflow:hidden;
    resize: none;
    padding-top: 0;
  }

  .wrong {
    padding-left: 15px;
  }
}
