$body: #f1f0f0;
$white: #F9F9F9;
$black: #080808;
$light-gray: #A9A9A9;
$grey: #A9A9A9;
$dark-gray: #D3D3D3;
$green: #A4C639;

$shadow: 0px 1px 12px $light-gray;

$color: #1e1e1e;


$grid-columns:      12;
$grid-gutter-width: 30px;

$fa-font-path:        "../webfonts";

/*$grid-breakpoints: (
  // Extra small screen / phone
        xs: 0,
  // Small screen / phone
        sm: 576px,
  // Medium screen / tablet
        md: 768px,
  // Large screen / desktop
        lg: 1024px,
  // Extra large screen / wide desktop
        xl: 1440px
);*/

