{block content}
<div class="container">
    <h1 n:block=title class="pt-4 pb-4">Přihlásit se</h1>
    {control signInForm}
    {*<p><a n:href="up">Nemáte zatím účet? Registrujte se</a></p>*}
</div>

{* OR
{import '../components/form.latte'}
{include form signInForm}
*}

