{block content}
<div class="container">
    <h1 n:block=title class="pt-4 pb-4">Registrace</h1>

    {control signUpForm}

    <p>Už máte účet? <a n:href="in"> Přihlásit se.</a></p>
</div>
<div class="container-fluid">
    <p><a n:href="Homepage:"><i class="fas fa-arrow-left"></i> Zpět</a></p>
</div>


