body {
    background-image: url("back.jpg");
}
main{
    width: 90%;
    margin: auto;
}
.thumnails{
    /*width: 31%;*/
    float: left;
    margin: 16px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    border-top:4px solid white;
    border-left:4px solid white;
    border-right:4px solid white;
}
.thumnails img{
    max-width: 250px;
    height: auto;
}


@keyframes example {
    0% { top: 0}
    50% { left:  100px; top: 400px; background-color: #bada55}
    100% { top: 800px}
}


.blok {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    animation-name: example;
    animation-duration: 4s; /* or: Xms */
    animation-iteration-count: 10;
    /*animation-direction: alternate; !* or: normal *!*/
    /*animation-timing-function: cubic-bezier(0, 1.07, 0.88, 0.05); !* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) *!*/
    animation-timing-function: linear; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 2s; /* or: Xms *

}